header {
  background:#ffeeed;
  height: 250px;
}

.title {
  margin: 0;
  padding-top: 50px;
  text-align: center;
  color: #62554a;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}

.score{
  color: #50342b;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}

.message {
  margin-top: 20px;
  color: #50342b;
  text-align: center;
  font-size: 1.5em;
}