.card {
  background:#fef2e6;
  border-radius: 2px;
  height: 210px;
  margin: 1rem;
  position: relative;
  width: 250px;
  border: solid black 5px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  width: 85%
}